/* DynamicMenu.css */

.dynamic-menu {
  background-color: #2F302C;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F302C;
  color: #fff;
  padding: 15px;
}

.items {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0; /* Remove default margin */
  margin-right: auto;
}

li {
  margin-right: 40px; /* Adjust the margin to increase space between menu items */
}

.menu-container {
  /* ... (your existing styles) */
  position: relative;
}

.dropdown-container {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  margin-right: 50px;
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-left: 5px;
}

.dropdown-list {
  list-style: none;
  position: absolute;
  top: calc(100% + 40px); /* Adjusting the top position to place it below the nav bar */
  left: 0;
  background-color: #2F302C;
  color: #fff;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  display: none;
  width: 190px; /* Setting a width for the dropdown list */
  height: 260px;
  z-index: 3; /* Ensuring the dropdown is on top of other elements with highest z-index */
}

.dropdown-list li {
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s; /* Adding transition for color change */
  padding: 7px;
  width: 100%; /* Ensuring the item takes up the entire width */
  box-sizing: border-box; /* Including padding in the element's total width */
}

.dropdown-list.visible {
  display: block;
}

.dropdown-list li:hover {
  background-color: white; /* Changing background color on hover */
  color: black; /* Changing text color to black on hover */
}

/*styles for the tick icon */
.tick-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjusting the right position as needed */
  transform: translateY(-50%);
  display: none;
  color: green; /* Set the color of the tick */
}

.dropdown-list-item.selected .tick-icon {
  display: inline-block;
}

.search {
  display: flex;
  align-items: center;
  width: 30%;
  border-bottom: 1px solid #fff;
}

.search-icon {
  margin-right: 10px; /* Adjusting the margin to add space between the icon and the search box */
}

.search-box {
  padding: 8px; /* Adjusted the padding for the search box */
  width: 100%;
  background-color: transparent; /* Removed the background color */
  border: none; /* Removed the border */
  outline: none;
  color: #fff;
  font-size: 14px;
  opacity: 70%;
}

.search-box::placeholder {
  color: #fff;
}

.logo {
  width: 25px;
  height: 22px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.logo-text {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 0px; /* Adjusting the padding to increase space to the right of "E-COMM" text */
  font-weight: bold;
  font-size: 25px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .logo-text {
    font-size: 16px;
  }

  .dynamic-menu {
    width: 100%;
  }
}
