/* DynamicMenu.css */

.dynamic-menu {
  background-color: #2F302C;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F302C;
  color: #fff;
  padding: 15px;
}

.items {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0; /* Remove default margin */
  margin-right: auto;
}

li {
  margin-right: 40px; /* Adjust the margin to increase space between menu items */
}

.menu-container {
  position: relative;
}

.dropdown-container {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  margin-right: 30px;
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-left: 5px;
}

.dropdown-list {
  list-style: none;
  position: absolute;
  top: calc(100% + 40px); /* Adjusting the top position to place it below the nav bar */
  left: 0;
  background-color: #2F302C;
  color: #fff;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  display: none;
  width: 190px; /* Setting a width for the dropdown list */
  height: auto; /* Set height to auto to accommodate varying content */
  max-height: 400px; /* Set a maximum height to prevent the dropdown from becoming too large */
  overflow-y: auto;
  overflow-x: hidden; /* Add vertical scroll if needed */
  z-index: 3; /* Ensuring the dropdown is on top of other elements with the highest z-index */
}

.dropdown-list li {
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s; /* Adding transition for color change */
  padding: 7px;
  width: 100%; /* Ensuring the item takes up the entire width */
  box-sizing: border-box; /* Including padding in the element's total width */
}

.dropdown-list.visible {
  display: block;
}

.dropdown-list li:hover {
  background-color: white; /* Changing background color on hover */
  color: black; /* Changing text color to black on hover */
}

/*styles for the tick icon */
.tick-icon {
  position: absolute;
  
  display: none;
  color: green; /* Set the color of the tick */
}

.dropdown-list-item.selected .tick-icon {
  display: inline-block;
  position: relative; /* Override the fixed position */
  left: 40px; /* Adjust the position for the selected item */
}

.search {
  display: flex;
  align-items: center;
  width: 30%;
  border-bottom: 1px solid #fff;
}

.search-icon {
  margin-right: 10px; /* Adjusting the margin to add space between the icon and the search box */
}

.search-box {
  padding: 8px; /* Adjusted the padding for the search box */
  width: 100%;
  background-color: transparent; /* Removed the background color */
  border: none; /* Removed the border */
  outline: none;
  color: #fff;
  font-size: 14px;
  opacity: 70%;
}

.search-box::placeholder {
  color: #fff;
}

.logo {
  width: 25px;
  height: 22px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.logo-text {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 0px; /* Adjusting the padding to increase space to the right of "E-COMM" text */
  font-weight: bold;
  font-size: 25px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .dynamic-menu {
    width: 460%; /* Adjust the width for smaller screens */
    background-color: #2F302C;
    height: 200px; /* Set height to auto for varying content */
    padding-left: 0px; /* Adjust the left padding as needed */
    padding-right: 0px; /* Adjust the right padding as needed */
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px; /* Adjust the left margin as needed */
    padding-right: 20px;
    margin-top: 50px;
  }

  .logo {
    width: 50px; /* Set the desired width for the logo on smaller screens */
    height: 50px; /* Set the desired height for the logo on smaller screens */ 
  }

  .logo-text {
    font-size: 50px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
  }


  .menu-container li {
    display: none;
  }

  .menu-container.hidden {
    display: none;
  }

  .menu-container.visible {
    display: flex;
  }

  .dropdown-container{
    margin-top: 50px;
  }

  .dropdown-main-text {
    display: block;
    font-size: 45px;
  }

  .dropdown-icon.visible {
    display: inline-block;
  }

  .dropdown-list.visible {
    display: block;
  }

  .dropdown-list{
    height: auto;
    width: 350px;
    top: calc(100% + 100px);
  }

  .dropdown-list-item {
    font-size: 50px;
  }

  .search{
    margin-top: 50px;
    margin-right: 10%;
    width: 30%;
  }

  .search-box {
    font-size: 50px;
  }

  .search-icon{
    width: 40px;
    height: 40px;
  }
}

/* Media Query for medium screens */
@media (min-width: 769px) and (max-width: 1000px) {
  .dynamic-menu {
    width: 300%;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: visible; /* Hide any overflowing text */
    padding-bottom: 65px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px; /* Adjust the left margin as needed */
    padding-right: 20px;
    margin-top: 50px;
  }
  .logo {
    width: 40px; /* Set the desired width for the logo on smaller screens */
    height: 40px; /* Set the desired height for the logo on smaller screens */ 
  }

  .logo-text {
    font-size: 40px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
  }

  .items{
    margin-top: 50px; 
  }

  .menu-container li {
    font-size: 30px; /* Adjust the font size as needed */
  }

  .dropdown-container{
    margin-top: 50px;
  }

  .dropdown-main-text {
    display: block;
    font-size: 30px;
  }
  .dropdown-list.visible{
    height: auto;
    width: 200px;
    top: calc(100% + 100px);
    z-index: 4;
    display: block;
  }

  .search{
    margin-top: 50px;
  }

  .search-icon {
    font-size: 30px; /* Adjust the font size as needed */
  }

  /* Increase the size of the search box for medium screens */
  .search-box {
    padding: 12px; /* Adjust the padding for the search box */
    font-size: 16px; /* Adjust the font size for the search box */
  }
}
